{% extends 'base.html' %}
{% load i18n %}

{% block title %}Emergent Login{% endblock %}


{% block page %}

    <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
        {% csrf_token %}
        <div id="loginform">
            <span class="formtitle">Sign in</span>
            <p>
                {{ form.username }}
                <span class='label'>:Login</span>
            </p>

            <p>
                {{ form.password }}
                <span class='label'>:Password</span>
            </p>
             <input type="submit" value="Sign in"/>
        </div>

        <input type="hidden" name="next" value="{{ next }}"/>
    </form>

{% endblock page %}
