DEBUG = True
TEMPLATE_DEBUG = DEBUG

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': 'emergent_dev.sqlite3',
    }
}

# Social Auth settings {{{

GITHUB_APP_ID = ''
GITHUB_API_SECRET = ''

# }}} Social Auth settings

PUSHER_APPID = ''
PUSHER_KEY = ''
PUSHER_SECRET = ''


