{% extends "base.html" %}
{% block page %}
        <div class="titlebar">
                <h1>Project Emergent</h1>
{#                <p>GitHub repo: <a href="https://github.com/averrin/emergent">git@github.com:averrin/emergent.git</a>#}
{#                <iframe src="http://ghbtns.com/github-btn.html?user=averrin&repo=emergent&type=fork"#}
{#                    allowtransparency="true" frameborder="0" scrolling="0" width="53" height="20" class="gh-button">#}
{#                </iframe></p>#}
        </div>
    <p>Hello and welcome to Emergent, the ultimate opensauce Twitter clone (or something along the lines).
    Feel free to contribute stuff.</p>
    <p>This site is so very under construction that it may, or may not, lead to catastrophic death of people and things dear to you.
    Please avoid using Emergent while drunk, high, pregnant and/or retarded. Thank you very much,</p>
    <p>Project Emergent developers.</p>
    <p class="signup-wrap"><a href="/status" class="signup-btn">Register now for just ${{price}}.99<br>
    <small>Link to status page. Login required.</small></a></p>
    {%include "_partials/disqus.html"%}
{% endblock page %}
