{% extends "base.html" %}
{% load static %}

{% block page %}
    <link rel="stylesheet" href="{% static 'profile.css' %}">
    Даже не брался верстать.

    {% if profile.avatar %}
        <img src="/media/{{ profile.avatar }}" class="profile_avatar">
    {% endif %}

    {% if user.username == profile.username %}
        It's you, {{ user }}.
    {% else %}
        Username: {{ profile }}
    {% endif %}

    <ul>
        <li> Exp: {{ profile.exp }} [{{ profile.level.id }}]
            {% if user.username == profile.username %}
                <button class="" id="add_exp">Add exp</button>
            {% endif %}
        </li>
        <li> Coins: {{ profile.credits }}
            {% if user.username == profile.username %}
                <button class="" id="add_coin">Add coin</button>
            {% endif %}
        </li>
        {% if profile.guilds.all %}
            <li> Guilds:
                <ul>
                    {% for guild in profile.guilds.all %}
                        <li>{{ guild.name }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% endif %}
        {% if profile.titles.all %}
            <li> Titles:
                <ul>
                    {% for title in profile.titles.all %}
                        <li>{{ title.name }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% endif %}
    </ul>

    <script type="text/javascript" src='{% static 'js/rpg.js' %}'></script>
{% endblock %}
