html {
    background: #ddd4c4 url(pictures/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    background-color: transparent;
    color: #fbfbfb;
    font-family: 'Open Sans', 'Segoe UI', 'Droid Sans', sans-serif;
    margin: 0;
    text-rendering: optimizeLegibility;
    -ms-overflow-style: scrollbar;
}

h1 {
    color: #fff;
    font: 700 96px/100px "Trebuchet MS", sans-serif;
    margin: 0;
    padding-bottom: 25px;
    text-shadow:
        0 1px rgb(225,225,225),
        0 2px rgb(205,205,205),
        0 3px rgb(185,185,185),
        0 0 5px rgba(0,0,0,0.1),
        0 1px 3px rgba(0,0,0,0.3),
        0 3px 5px rgba(0,0,0,0.2),
        0 5px 10px rgba(0,0,0,0.25),
        0 6px 1px rgba(0,0,0,0.1),
        0 10px 10px rgba(0,0,0,0.2);
}

a { color: #0080ff; }

p { margin: 0 0 20px; }

.titlebar {
    color: #101010;
    font: 16px/20px Monaco, Consolas, monospace;
    text-align: center;
}

.titlebar p {
    background: #fff;
    border-radius: 20px;
    box-shadow:
        0 1px rgb(225,225,225),
        0 2px rgb(205,205,205),
        0 3px rgb(185,185,185),
        0 0 5px rgba(0,0,0,0.1),
        0 1px 3px rgba(0,0,0,0.3),
        0 3px 5px rgba(0,0,0,0.2),
        0 5px 10px rgba(0,0,0,0.25),
        0 6px 1px rgba(0,0,0,0.1),
        0 10px 10px rgba(0,0,0,0.2);
    display: inline-block;
    margin: 0;
    padding: 10px 15px;
}

.gh-button {
    display: inline-block;
    vertical-align: bottom;
}

.page {
    background: rgba(255,255,255,0.95);
    color: #101010;
    font-size: 14px;
    line-height: 20px;
    margin: 30px auto 0;
    max-width: 900px;
    padding: 20px 20px 5px;
}

.signup-wrap { text-align: center; }

.signup-btn {
    background-color: #8fc800;
    background-image: -moz-linear-gradient(top, #8fc800 0%, #438c00 50%);
    background-image: -webkit-linear-gradient(top, #8fc800 0%, #438c00 50%);
    background-image: -o-linear-gradient(top, #8fc800 0%, #438c00 50%);
    background-image: -ms-linear-gradient(top, #8fc800 0%, #438c00 50%);
    background-image: linear-gradient(top, #8fc800 0%, #438c00 50%);
    background-size: auto 200%;
    color: #fff;
    display: inline-block;
    font-size: 24px;
    line-height: 24px;
    padding: 10px 20px;
    position: relative;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    -webkit-transition: background-position 250ms;
    -moz-transition: background-position 250ms;
    -o-transition: background-position 250ms;
    transition: background-position 250ms;
}

.signup-btn small { font-size: 16px; }

.signup-btn:hover { background-position: 0 50%; }
.signup-btn:active { top: 2px; }

.navbar {
	color: #444;
}
