<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Project Emergent</title>
        <link rel="stylesheet" href="/static/start.css">
    </head>
    <body>
        <div class="titlebar">
            <h1>Project Emergent</h1>
            <p>GitHub repo: <a href="https://github.com/averrin/emergent">git@github.com:averrin/emergent.git</a>
            <iframe src="http://ghbtns.com/github-btn.html?user=averrin&repo=emergent&type=fork"
                allowtransparency="true" frameborder="0" scrolling="0" width="53" height="20" class="gh-button">
            </iframe></p>
        </div>
        <div class="page">
            <p>Hello and welcome to Emergent, the ultimate opensauce Twitter clone (or something along the lines).
            Feel free to contribute stuff.</p>
            <p>Sign up button and other nice things will be here soon. Stay tuned, and don't change the channel!</p>
            <p>-- Project Emergent developers</p>
        </div>
    </body>
</html>
